.card {
	margin-left: 30%;
	margin-top: 12%;
}

input {
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom-color: black;
}

.select {
	border-bottom-color: #0d0d0d;
	border-top-color: #0d0d0d;
	border-left-color: #0d0d0d;
	border-right-color: #0d0d0d;
}

.errors {
	color: red;
	font-weight: bold;
	font-size: 15px;
	font-family: FontAwesome;
}

.row input{
	width: 80%;
	border-radius: 1px;
	font-family: mry_KacstQurn;
}

.row .title{
	font-weight: bold;
	font-size: 17px;
}
