.card {
	margin-left: 30%;
	margin-top: 15%;
}

.select-form-add {
	border-bottom-color: #0d0d0d;
	border-top-color: #0d0d0d;
	border-left-color: #0d0d0d;
	border-right-color: #0d0d0d;
}

.row input {
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom-color: black;
	width: 70%;
	border-radius: 1px;
	margin-top: 10px;
	font-family: mry_KacstQurn
}

.row .type {
	text-align: center;
	font-family: mry_KacstQurnx;
	width: 35%;
}

.row .cpacity {
	text-align: center;
	font-family: mry_KacstQurnx;
	width: 35%;
}

.row .title {
	font-family: 'mry_KacstQurn';
	font-size: 35px;
	font-weight: bold;
	color: orange;
}

.row .errors {
	color: red;
	font-weight: bold;
	font-size: 13px;
	margin-left: 20%;
	font-family: FontAwesome
}
