.header {
	height: 460px;
}

#header {
	height: 60px;
	text-align: center;
	padding-top: 17px;
}

#image {
	height: 400px;
}

#search {
	padding-left: 34%;
	padding-top: 10%;
}

#search {
	padding-right: 32%;
}

#header a {
	text-decoration: none;
}

.cart1{
	position: relative;
	text-align: right;
	margin-top: 1%;
	margin-right: 3%;
}

#cart a {
	text-decoration: none;

}



table, th, td {
	border: 3px solid black;
	text-align: center;
}

img {
	filter: drop-shadow(0 0 4px pink);
}

.item-product {
	border: 1px solid #ccc;
}

.item-product .item-image img {
	width: 100%;
	height: auto;

}

.item-image {
	position: relative;
}

.details {
	position: absolute;
	top: 30%;
	left: 30%;
	text-align: center
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	transition: background 0.5s ease;
}

.item-image:hover .overlay {
	display: block;
	background: rgba(0, 0, 0, .3);
}

.details {
	position: absolute;
	text-align: center;
	opacity: 0;
	transition: opacity .35s ease;
}

.item-image:hover .details {
	opacity: 1;
}

.q {
	transition-duration: 0.4s;
}

.q:hover {
	background-color: pink; /* Green */
	color: white;
}

.user {
	border: white;
	background: white;
	font-size: 20px;
}

.avatar {
	max-width: 100%;
}

.info-user {
	margin-left: 10%;
	margin-top: 10%;
}

.edit-user {
	max-width: 50%;
	margin-right: 10%;
}

.input-edit {
	border-top: none;
	border-right: none;
	border-bottom-color: black;
	border-left-color: black;
}

.select-edit {
	border-top-color: black;
	border-left-color: black;
	border-right-color: black;
	border-bottom-color: black;
}

.show-info-user {
	font-family: FontAwesome
}
